aiofiles
aiogram @ https://github.com/aiogram/aiogram/archive/refs/heads/dev-3.x.zip
aiohttp
async-timeout
attrs
certifi
charset-normalizer
frozenlist
idna
magic-filter
multidict
pydantic
typing-extensions
yarl
pyfiglet
dacite